p {
  font-family: "Roboto";
}

.chip-set {
  display: flex;
  flex-direction: row;
}

.container {
  margin: 1rem;
}

.card {
  min-height:21rem;
}

.card-sm {
  min-height:27rem;
  overflow-y: scroll;
}
