<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label
      >Quantity
    </mat-label>
    <mat-slider [min]="minQty" [max]="maxQty" step="1" discrete>
      <input
        matInput
        matSliderThumb
        formControlName="quantity"
        #quantitySlider
      />
    </mat-slider>
    <p>{{ quantitySlider.value }}</p>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Genres</mat-label>
    <mat-select formControlName="genre">
      <mat-option *ngFor="let genre of genres" [value]="genre">
        {{ genre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label
      >Year
     </mat-label
    >
    <mat-slider [min]="minYear" [max]="maxYear" step="1">
      <input
        matInput
        matSliderStartThumb
        formControlName="minYear"
        #minYearSlider
      />
      <input
        matInput
        matSliderEndThumb
        formControlName="maxYear"
        #maxYearSlider
      />
    </mat-slider>
    <p
    >{{ minYearSlider.value }} to {{ maxYearSlider.value }}</p
  >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Characteristic</mat-label>
    <textarea
      matInput
      placeholder="Describe a particular feature that the movies should have"
      rows="10"
      formControlName="characteristic"
    ></textarea>
  </mat-form-field>

  <div class="button-container">
    <button mat-flat-button [disabled]="loading">Search</button>
  </div>
</form>
