@use "@angular/material" as mat;
@include mat.elevation-classes();
@include mat.app-background();

html,
body {
  height: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

body {
  margin: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

html.dark-mode {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

// $custom-primary-palette: (
//   50: #f3e5f5,
//   100: #e1bee7,
//   200: #ce93d8,
//   300: #ba68c8,
//   400: #ab47bc,
//   500: #9c27b0,
//   600: #8e24aa,
//   700: #7b1fa2,
//   800: #6a1b9a,
//   900: #4a148c,
//   A100: #ea80fc,
//   A200: #e040fb,
//   A400: #d500f9,
//   A700: #aa00ff,
//   contrast: (
//     light: #ffffff,
//     dark: #000000,
//   ),
// );

// $custom-typography-config: mat.m2-define-typography-config(
//   $font-family: "Roboto, open-sans",
// );
// $light-primary: mat.m2-define-palette($custom-primary-palette);
// $light-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
// $light-warn: mat.m2-define-palette(mat.$m2-red-palette);

// $light-theme: mat.m2-define-light-theme(
//   (
//     color: (
//       primary: $light-primary,
//       accent: $light-accent,
//       warn: $light-warn,
//     ),
//     typography: $custom-typography-config,
//     density: 0,
//   )
// );

// $dark-primary: mat.m2-define-palette(mat.$m2-blue-palette);
// $dark-accent: mat.m2-define-palette(mat.$m2-yellow-palette, 300);
// $dark-warn: mat.m2-define-palette(mat.$m2-orange-palette, 600);

// $dark-theme: mat.m2-define-dark-theme(
//   (
//     color: (
//       primary: $dark-primary,
//       accent: $dark-accent,
//       warn: $dark-warn,
//     ),
//   )
// );

// @include mat.all-component-themes($light-theme);

// body.dark-mode {
//   @include mat.all-component-colors($dark-theme);
// }
